.container {
    display:flex;
    justify-content: space-between;
}

p{
    border-style: solid;
    border-radius: 5px;
    border-color: #548687;
    background-color: #273043;
    padding: 5px
}

p:hover {
  color: yellowgreen;
  border-color:green;
  background-color: #124152;
}
